<div class="container">
  <%= simple_form_for @event do |f| %>
    <%= f.input :title %>

    <%= simple_fields_for :other do |o| %>
      <%= o.input :date_range, input_html: { class: "date_range" } %>
    <% end %>
    <%= f.submit "Add", class: "btn btn-primary" %>
  <% end %>
</div>

